@mixin colors($background, $color) {
  background: $background;
  color: $color;
}

@mixin fontSize($sizeValue) {
  font-size: $sizeValue * 1px;
  font-size: ($sizeValue/10) * 1rem;
}

@mixin media($width) {
  @media only screen and (max-width: $width) {
    @content;
  }
}
