@import 'setup';
@import 'variables';
@import 'mixins';

// #next,
// #submit {
//     display:none;
// }

.quizContainer {
    padding: 100px 30px;
}
.question{
    font-size: 40px;
    padding: 20px 0px;
}

.answers {
    font-size: 24px;
    padding: 10px 20px;
}


