@import "setup";
@import "variables";
@import "mixins";

html {
  font-size: 62.5%;
  font-family: $baseFont;
}

h1,
h2,
p,
body,
header,
ul,
section,
nav,
a {
  padding: 0;
  margin: 0;
}

body {
  background-color: $secondaryColor;
  height: 100vh;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.wrapper {
  max-width: 1080px;
  width: 80%;
  margin: 0 auto;
  @include media(490px) {
    width: 90%;
  }
}

#next,
#submit {
  display: none;
}

.quizContainer {
  width: 100%;
}

.slide {
  padding: 10px 30px;
  margin-bottom: 30px;
}

.question {
  font-size: 30px;
  padding: 20px 0px;
  font-weight: bold;
  text-align: center;
  color: white;
}

.answers {
  font-size: 24px;
  padding: 10px 20px;
  display: flex;
  flex-wrap: wrap;
  @include media(830px) {
    flex-direction: column;
  }

  div {
    padding: 20px 5px;
    margin: 10px 10px;
    width: calc(50% - 20px);
    @include media(830px) {
      width: 100%;
    }
    border: 1px solid black;
    background-color: $white;
    border: 2px solid $accentColor;
    border-radius: 10px;
  }
}

.selected {
  background-color: red;
}

h1 {
  padding: 80px 0px 50px 0px;
  @include fontSize(70);
  color: white;
  font-family: $accentFont;
  text-align: center;
  @media (min-width: 1600px) {
    padding-top: 200px;
  }
  @include media(650px) {
    @include fontSize(60);
  }
  @include media(480px) {
    @include fontSize(50);
  }
}

.rules {
  @include fontSize(30);
  line-height: 1.5;
  padding-bottom: 70px;
  color: white;
  @include media(650px) {
    @include fontSize(25);
  }
}

button {
  background-color: $accentColor;
  border-radius: 10px;
  color: $secondaryColor;
  padding: 20px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  @include fontSize(40);
  font-family: $accentFont;
  line-height: 35px;
  letter-spacing: 1.2px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

button:hover,
button:focus {
  background-color: #84f800;
}

.special {
  color: $accentColor;
}

.scoreContainer {
  @include fontSize(50);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  p {
    text-align: center;
    @include fontSize(50);
    padding: 30px 0px;
    color: $primaryColor;
    @include media(800px) {
      @include fontSize(40);
      padding: 20px 0px;
    }
  }
  @include media(600px) {
    @include fontSize(30);
  }
}

.totalScore {
  color: $accentColor;
}

.swal-text,
.swal-button--confirm {
  @include fontSize(24);
}
.swal-button--confirm {
  background: $accentColor;
  position: relative;
}
