$primaryColor: #393e46;
$secondaryColor: #5c636e;
$accentColor: #f8b500;
$white: #e4f2f0;
$black: #1e1713;
$baseFont: "Ubuntu", sans-serif;
$accentFont: "Kreon", serif;
$anchorTagHoverFocus: "a:hover, a:focus";
